

    <div class="IntroPage position-relative overflow-hidden p-3  text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Yönetici Sayfasına Hoşgeldiniz.</h1>
            <p class="lead font-weight-normal mt-3">
                Kullanıcıların Gönderdiği Dilekçeleri Görüntüleyebilir, Üzerinde İşlem Yapabilirsiniz. Kullanıcı ve Rol
                İşlemlerini Yapabilirsiniz.
            </p>
            <a class="btn btn-outline-primary">Dilekçeler</a>
            
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
