@model ForgetPasswordModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row mt-5 p-4">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-5">
            <h4 class="text-center mt-5">Şifremi Unuttum</h4>
            <hr />
            <form asp-action="ForgetPassword" asp-controller="User" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="form-group mt-4">
                    <input type="submit" value="Şifremi Sıfırla" class="btn btn-block btn-primary"/>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

