
@{
    ViewData["Title"] = "SentPasswordResetMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Şifre Sıfırlama Kodunuz Gönderildi!</h1>
        <p class="lead">Email Adresinize Göndermiş Olduğumuz Kod İle Şifrenizi Sıfırlayabilirsiniz.</p>
    </div>
</div>
